<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Add Product</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form #products="ngForm">
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-input type="text" [(ngModel)]="productDetails.uniqueProductId" name="unique_id" placeholder="Product Unique ID"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="text" [(ngModel)]="productDetails.productName" name="product_name" placeholder="Product Name"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="text" [(ngModel)]="productDetails.productDescription" name="product_desc" placeholder="Product Description"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="text" [(ngModel)]="productDetails.productText" name="product_text" placeholder="Product Text"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="number" [(ngModel)]="productDetails.productPrice" name="product_name" placeholder="Product Price"></ion-input>
				</ion-item>
				<ion-row>
					<ion-col width-33>
						<button class="upload-image" (click)="presentActionSheet()" ion-button small>Upload Image</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col *ngIf="imageBool">
						<img alt="Product Image" [src]="domSanitize.bypassSecurityTrustUrl(base64ImageString)">
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col width-100>
				<button ion-button (click)="addProduct()" full>Add The Product</button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>