admin-page{
    p{
        text-align: center;
    }
}
.item-md.item-block .item-inner {
    border-bottom: none;
}

.products{
    p{
        font-size: 20px;
        margin-top: 0%;
        color: white;
    }
    button{
        width: 100%;
    }
}
.coupons{
    margin-top: 10%;
    p{
        font-size: 20px;
        margin-top: 0%;
        color: white;
    }
    button{
        width: 100%;
    }
}
